In [15]:
import pandas as pd

In [16]:
df = pd.read_csv(r'data\LG.csv')
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC,Subsystem #1|Node Voltages|S1) M1,Subsystem #1|Node Voltages|S1) M2,Subsystem #1|Node Voltages|S1) M3
0,0.000000,0.049527,-0.190896,0.130947,10.199316,-2.264196,-7.946165
1,0.000167,0.055313,-0.187909,0.123746,9.970916,-1.604512,-8.378225
2,0.000333,0.060952,-0.184199,0.116002,9.703217,-0.938638,-8.777132
3,0.000500,0.066418,-0.179768,0.107739,9.397300,-0.269202,-9.141335
4,0.000667,0.071680,-0.174620,0.098983,9.054389,0.401175,-9.469427

In [17]:
df = df.loc[:, ~df.columns.str.contains('Voltages', case=False)]
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC
0,0.000000,0.049527,-0.190896,0.130947
1,0.000167,0.055313,-0.187909,0.123746
2,0.000333,0.060952,-0.184199,0.116002
3,0.000500,0.066418,-0.179768,0.107739
4,0.000667,0.071680,-0.174620,0.098983

In [18]:
df['Fault'] = df['Time'].apply(lambda t: 'Yes' if 0.2 <= t <= 0.4 else 'No') 
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC,Fault
0,0.000000,0.049527,-0.190896,0.130947,No
1,0.000167,0.055313,-0.187909,0.123746,No
2,0.000333,0.060952,-0.184199,0.116002,No
3,0.000500,0.066418,-0.179768,0.107739,No
4,0.000667,0.071680,-0.174620,0.098983,No

In [19]:
df['Absolute Ia'] = df.filter(like='MAINIA').abs().iloc[:, 0]
df['Absolute Ib'] = df.filter(like='MAINIB').abs().iloc[:, 0]
df['Absolute Ic'] = df.filter(like='MAINIC').abs().iloc[:, 0]

In [20]:
df = df[['Time', 'Absolute Ia', 'Absolute Ib', 'Absolute Ic', 'Fault']]
df.head()

       Time  Absolute Ia  Absolute Ib  Absolute Ic Fault
0  0.000000     0.049527     0.190896     0.130947    No
1  0.000167     0.055313     0.187909     0.123746    No
2  0.000333     0.060952     0.184199     0.116002    No
3  0.000500     0.066418     0.179768     0.107739    No
4  0.000667     0.071680     0.174620     0.098983    No

In [21]:
df.to_csv('data_modified/LG_modified.csv', index=False)