In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'data\LLLG.csv')
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC,Subsystem #1|Node Voltages|S1) M1,Subsystem #1|Node Voltages|S1) M2,Subsystem #1|Node Voltages|S1) M3
0,0.000000,0.014057,-0.193897,0.160845,10.696453,-6.043157,-4.658632
1,0.000167,0.020231,-0.195189,0.157184,10.724857,-5.477870,-5.253336
2,0.000333,0.026372,-0.195777,0.152925,10.710843,-4.890989,-5.827188
3,0.000500,0.032466,-0.195657,0.148070,10.654464,-4.284842,-6.377906
4,0.000667,0.038496,-0.194823,0.142626,10.555984,-3.661871,-6.903309

In [3]:
df = df.loc[:, ~df.columns.str.contains('Voltages', case=False)]
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC
0,0.000000,0.014057,-0.193897,0.160845
1,0.000167,0.020231,-0.195189,0.157184
2,0.000333,0.026372,-0.195777,0.152925
3,0.000500,0.032466,-0.195657,0.148070
4,0.000667,0.038496,-0.194823,0.142626

In [6]:
df['Fault'] = df['Time'].apply(lambda t: 'Yes' if 0.2 <= t <= 0.4 else 'No') 
df.head()

,Time,Subsystem #1|Branch Currents|MAINIA,Subsystem #1|Branch Currents|MAINIB,Subsystem #1|Branch Currents|MAINIC,Fault
0,0.000000,0.014057,-0.193897,0.160845,No
1,0.000167,0.020231,-0.195189,0.157184,No
2,0.000333,0.026372,-0.195777,0.152925,No
3,0.000500,0.032466,-0.195657,0.148070,No
4,0.000667,0.038496,-0.194823,0.142626,No

In [8]:
df['Absolute Ia'] = df.filter(like='MAINIA').abs().iloc[:, 0]
df['Absolute Ib'] = df.filter(like='MAINIB').abs().iloc[:, 0]
df['Absolute Ic'] = df.filter(like='MAINIC').abs().iloc[:, 0]

In [9]:
df = df[['Time', 'Absolute Ia', 'Absolute Ib', 'Absolute Ic', 'Fault']]
df.head()

       Time  Absolute Ia  Absolute Ib  Absolute Ic Fault
0  0.000000     0.014057     0.193897     0.160845    No
1  0.000167     0.020231     0.195189     0.157184    No
2  0.000333     0.026372     0.195777     0.152925    No
3  0.000500     0.032466     0.195657     0.148070    No
4  0.000667     0.038496     0.194823     0.142626    No

In [47]:
df.to_csv('data_modified/LLLG_modified.csv', index=False)